@import "variables";

#container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 75vw;
    margin: auto;

    min-height: 70vh;

    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to bottom, $primary-color, $secondary-color);
    border-image-slice: 1;

    background-image: url("./images/hammer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*background-image: linear-gradient(to bottom, lightblue, limegreen);*/

    opacity: 0.5;

    font-family: monospace;
}

@keyframes blink {
    from {
        opacity: 0.5;
        filter: blur(0.1rem);
    }
    to {
        opacity: 0.75;
        filter: blur(0);
    }
}

footer {
    text-align: center;
    animation-name: blink;
    animation-duration: 750ms;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}