@use './variables.scss' as vars;

@keyframes pulse_image {
    0% {
        background-size: 70%;
    }
    100% {
        background-size: 130%;
    }
}

@keyframes blink {
    from {
        opacity: 0.5;
        filter: blur(0.1rem);
    }
    to {
        opacity: 0.75;
        filter: blur(0);
    }
}

.with-border {
    border-style: vars.$border-style;
    border-width: vars.$border-width;
    border-color: vars.$border-color;
}

#container {
    display: grid;
    gap: 0.5rem;

    min-height: 50vh;

    background-image: url("./images/hammer.jpg");
    background-repeat: no-repeat;
    background-position: top;
    animation: pulse_image 2s infinite alternate;

    opacity: 0.5;

    font-family: monospace;
}

header {

}

nav {
    
}

main {

}

footer {
    text-align: center;

    animation-name: blink;
    animation-duration: 750ms;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}